body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
}

.section {
  @media screen and (max-width: 1199px) {
    padding: 60px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
  // padding: 94px 0px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
