.portfolio__btns {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // manual count 60px - ready to fix
  margin-right: 60px;
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1200px) {
    // width: 611px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
  .btns__item {
    list-style-type: none;
    margin-right: 8px;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  &-item {
    width: 450px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
      margin: 15px;
      // height: 404px;
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      margin: 15px;
      // width: 370px;
      width: calc(100% / 3 - 30px);
    }
  }
}

.portfolio__item {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) var(--transition-hover);
  &-wrap {
    position: relative;
    overflow: hidden;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover,
  &:focus {
    .portfoilio__top-text {
      transform: translateY(0);
    }
  }
}

.portfolio__item-wrap {
  .portfoilio__top-text {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 101%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    color: var(--main-light-color);
    background-color: var(--portfolio-hover-background);
    transform: translateY(101%);
    transition: transform 250ms;
    overflow: auto;
  }
}

.portfolio__info {
  // height: auto;
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfoilio-border-color);
  border-right: 1px solid var(--portfoilio-border-color);
  border-left: 1px solid var(--portfoilio-border-color);
  .portfolio__name {
    flex-grow: 1;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: inherit;
  }
  .portfolio__category {
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.87;
    color: var(--middle-main-color);
  }
}
